
/* UTILITY*/
:root {
    font-family: "Baskervville";
    background-color: #f5f5f5;
}
.hidden {
    display: none;
}

/*  HEADER */

.header, .header-announcement-bar-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    pointer-events: auto;
}

.header-inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    max-width: 1542px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
}
.header-title-nav-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 67%;
    align-items: center;
}

.header-title {
    flex-grow: 0;
    flex-shrink: 0;
    backface-visibility: hidden;
}
.header-title-text {
    margin: 0;
}

.header-nav {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
}

@media only screen and (pointer: coarse) and (max-width: 1024px), screen and (max-width: 799px ) {
    .header-layout-nav-right .header-title {
        flex-grow:1
    }
}
.header-layout-nav-right, .header-nav {
    text-align: right;
    margin-left: auto;
    padding-left: 1.3vw;
}

.header-layout-nav-right, .header-nav-list {
    justify-content: flex-end;
}

.header-layout-nav-right, .header-nav-item:not(:first-child):not(.header-actions-action--cart) {
    margin-left: 5vw;
}

.header-nav-list {
    display: inline-flex;
    flex-wrap: wrap;
}

.header-nav-list>div:not(.header-nav-item--folder) {
    display: inline-flex;
}

.header-nav-list>div {
    white-space: nowrap;
}

.header-nav-item a, .header-nav-item button {
    display: inline-flex;
    align-items: center;
}
a {
    color: inherit;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
.contact-a {
    text-decoration: underline;
    font-weight: bold;
}

/*  FINE HEADER */


/* IMMAGINI PAGINA PRINCIPALE */

.page {
    position: absolute;
}
.pics-container {
    margin-top: 50px;
    position: relative;
    left: auto;
    top: auto;
    overflow: visible;
}

.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    cursor: pointer;
}

/* LIGHTBOX */

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox.hidden {
    display: none;
}

.lightbox img {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    transform-origin: center center;
    cursor: default;
}

/* FINE LIGHTBOX */
#pic-1 {
    background-image: url("assets/photos/1.2.jpg");
    left: 43px; top: 0px; width: 732px; height: 914px;
}
#pic-2 {
    background-image: url("assets/photos/cK_PietroGroff_Highsnobiety4_1.jpg");
    left: 787px; top: 0px; width: 374px; height: 250px;
}
#pic-3 {
    background-image: url("assets/photos/Go_See_10.24_7.jpg");
    left: 520px; top: 595px; width: 578px; height: 722px;
}
#pic-4 {
    background-image: url("assets/photos/Insta_FOG_PG_028.jpg");
    left: 96px; top: 1345px; width: 532px; height: 798px;
}
#pic-5 {
    background-image: url("assets/photos/PG_JS_GoSee6.jpg");
    left: 762px; top: 1954px; width: 454px; height: 567px;
}
#pic-6 {
    background-image: url("assets/photos/PietroGroff_GoSEEComm_042_1.jpg");
    left: 215px; top: 2692px; width: 389px; height: 486px;
}
#pic-7 {
    background-image: url("assets/photos/PietroGroff_IB_Instagram_LT_004.jpg");
    left: 610px; top: 2654px; width: 477px; height: 596px;
}
#pic-8 {
    background-image: url("assets/photos/PietroGroff_MAX&Co_LT_001.jpg");
    left: 156px; top: 3344px; width: 454px; height: 363px;
}
#pic-9 {
    background-image: url("assets/photos/PietroGroff_MotiviPreFall_LT_004.jpg");
    left: 717px; top: 3823px; width: 538px; height: 430px;
}
#pic-10 {
    background-image: url("assets/photos/PietroGroff_QuickProof_0008_1.jpg");
    left: 106px; top: 4415px; width: 566px; height: 708px;
}
#pic-11 {
    background-image: url("assets/photos/PLM_PietroGroff_Quickproof011.jpg");
    left: 220px; top: 5310px; width: 920px; height: 1150px;
}
#pic-12 {
    background-image: url("assets/photos/Sicky__1.jpg");
    left: 747px; top: 5936px; width: 447px; height: 559px;
}
#pic-13 {
    background-image: url("assets/photos/trial_045.jpg");
    left: 106px; top: 6595px; width: 920px; height: 1150px;
}

/* FINE IMMAGINI PAGINA PRINCIPALE */

/* ABOUT */

.about-content {
    display: flex;
}

.text-container {
    flex: 1 1 50%;
    font-size: small;
    padding: 5% 6% 5% 10%;
    box-sizing: border-box;
}

.about-image-container {
    flex: 1 1 50%;
    padding: 5% 10% 5% 6%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#pic-a {
    background-image: url("assets/photos/The_Webster_PietroGroff_06.jpg");
    width: 100%;
    max-width: 300px;
    aspect-ratio: 300 / 383;
    position: static;
    cursor: default;
}

@media (max-width: 767px) {
    .about-content {
        flex-direction: column-reverse;
    }
    .text-container,
    .about-image-container {
        flex: 1 1 auto;
    }
}

/* FINE ABOUT */


/* CONTACT */   

.contact-content {
    display: flex;
    justify-content: space-around;
}

.contact-text-container {
    font-size: small;
    padding: 10%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    margin-left: -15px;
}
/* FINE CONTACT */